node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example

.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
# .agents
.vscode
stats.html

# AI
.gemini
tsconfig.tsbuildinfo
.netlify
